.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div > div {
  /* width:40px;
    height:40px */
  border: 1px solid #424495;
  color: white;
  flex: 1 0 auto;
  height: auto;
}
/* referenced 
https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox 
to create pefect squares */

div > div:before {
  content: "";
  float: left;
  padding-top: 100%;
}
.clear-btn {
  position: relative;
  left: 48%;
  margin-top: 10px;
  margin-bottom: 20px;
}
